In [1]:
import numpy as np
import pandas as pd
import sklearn
import tensorflow as tf
from tensorflow import keras

In [2]:
df = pd.read_csv('C:/Users/Kevin/Desktop/SPH6004 Assignment 2/assignment2_data/mimiciv_aki/time_series.csv')

In [3]:
print(df['stay_id'].value_counts(), '\n')
print(df['hadm_id'].value_counts(), '\n')
print(df.loc[df['hadm_id']==24748146, ['stay_id']].value_counts(), '\n')

print("A single hadm_id can have multiple stay_ids. Therefore, using stay_id as the unique identifier. Longest stay was 715 hours.")

37805052    715
36043022    714
39374669    714
39579609    714
37149012    714
           ...
38023369      7
36564267      7
39163397      7
31990580      7
35699916      7
Name: stay_id, Length: 39742, dtype: int64

24748146    1968
29281474    1891
25963110    1880
26488509    1738
22793142    1556
            ...
24088081       7
25395928       7
22344424       7
25248779       7
25854706       7
Name: hadm_id, Length: 36578, dtype: int64

stay_id
31505890    599
30962383    594
32142854    586
36616293    167
34838186     22
dtype: int64

A single hadm_id can have multiple stay_ids. Therefore, using stay_id as the unique identifier. Longest stay was 715 hours.

In [4]:
print(df['AKI'].value_counts(), '\n \n {perc:.2f}% of the total timesteps in the dataset contained AKI. \n \n'.format(perc=(68465/3901507)*100))

## Test whether the AKI variable can return to 0 after being 1.
for i in range(1000):
    if df.iloc[i, -5] == 1 and df.iloc[i + 1, -5] == 0:
        print(df.iloc[i, [0, 1, -5]], '\n', df.iloc[i+1, [0, 1, -5]], '\n', df.iloc[i+2, [0, 1, -5]], '\n', df.iloc[i+3, [0, 1, -5]], '\n \n')
        
print('Assumption: Patients can be diagnosed with, or recover from, AKI at each timestep.')

0    3901507
1      68465
Name: AKI, dtype: int64

 1.75% of the total timesteps in the dataset contained AKI.


Time       2133-09-02 05:00:00
stay_id               36458174
AKI                          1
Name: 444, dtype: object
 Time       2133-09-02 06:00:00
stay_id               36458174
AKI                          0
Name: 445, dtype: object
 Time       2133-09-02 07:00:00
stay_id               36458174
AKI                          0
Name: 446, dtype: object
 Time       2133-09-02 08:00:00
stay_id               36458174
AKI                          0
Name: 447, dtype: object


Time       2141-02-09 15:00:00
stay_id               39873425
AKI                          1
Name: 922, dtype: object
 Time       2141-02-09 16:00:00
stay_id               39873425
AKI                          0
Name: 923, dtype: object
 Time       2141-02-09 17:00:00
stay_id               39873425
AKI                          0
Name: 924, dtype: object
 Time       2141-02-09 18:00:00
stay_id               39873425
AKI                          0
Name: 925, dtype: object


Time       2141-02-11 06:00:00
stay_id               39873425
AKI                          1
Name: 961, dtype: object
 Time       2141-02-11 07:00:00
stay_id               39873425
AKI                          0
Name: 962, dtype: object
 Time       2141-02-11 08:00:00
stay_id               39873425
AKI                          1
Name: 963, dtype: object
 Time       2141-02-11 09:00:00
stay_id               39873425
AKI                          0
Name: 964, dtype: object


Time       2141-02-11 08:00:00
stay_id               39873425
AKI                          1
Name: 963, dtype: object
 Time       2141-02-11 09:00:00
stay_id               39873425
AKI                          0
Name: 964, dtype: object
 Time       2141-02-11 10:00:00
stay_id               39873425
AKI                          1
Name: 965, dtype: object
 Time       2141-02-11 11:00:00
stay_id               39873425
AKI                          1
Name: 966, dtype: object


Time       2141-02-11 13:00:00
stay_id               39873425
AKI                          1
Name: 968, dtype: object
 Time       2141-02-11 14:00:00
stay_id               39873425
AKI                          0
Name: 969, dtype: object
 Time       2141-02-11 15:00:00
stay_id               39873425
AKI                          1
Name: 970, dtype: object
 Time       2141-02-11 16:00:00
stay_id               39873425
AKI                          1
Name: 971, dtype: object


Time       2141-02-11 18:00:00
stay_id               39873425
AKI                          1
Name: 973, dtype: object
 Time       2141-02-11 19:00:00
stay_id               39873425
AKI                          0
Name: 974, dtype: object
 Time       2141-02-11 20:00:00
stay_id               39873425
AKI                          1
Name: 975, dtype: object
 Time       2141-02-11 21:00:00
stay_id               39873425
AKI                          1
Name: 976, dtype: object


Assumption: Patients can be diagnosed with, or recover from, AKI at each timestep.